<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://cdn.bootcss.com/uikit/3.0.0-beta.40/css/uikit.min.css" rel="stylesheet">
</head>
<body>
	<header class="uk-background-primary uk-light">
        <nav class="uk-navbar uk-navbar-container uk-navbar-transparent">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">图书管理</a>
            </div>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
    <script src="https://cdn.bootcss.com/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
</body>
</html>